html > body {
  background:
      linear-gradient(217deg, rgba(241, 225, 97, 0.1), rgba(255,0,0,0) 70.71%) no-repeat,
      linear-gradient(127deg, rgba(42, 255, 255, 0.1), rgba(0,255,0,0) 70.71%) no-repeat,
      linear-gradient(355deg, rgba(50, 9, 252, 0.1), rgba(0,0,255,0) 70.71%) no-repeat;

    margin-top: 2rem;
    min-height: 100vh;
}

#profile-img {
    border: solid;
    border-width: 0.5vw;
    max-width:70%;
}
#copyright {
    float:left;
    height:50px;
    text-align: center;
}
#personal-details {
    float:right;
    width: 50%;
    align-self: center;
    text-align: center;
}

.activity {
    font-size: large;
    font-weight: bold;
    margin-bottom: 0rem;
}

.duration {
    font-size: smaller;
    color: gray;
    margin-top: 0.3rem;
}

.description > ul > li {
    color: rgb(75, 75, 75);
    font-weight: 100;
}

.stack {
    font-size: smaller;
    color: gray;
    margin-left: 1rem;
}

div.section{
    margin: 0px 20% 0px 20%;
    border-top: solid 1px;
}

div.statement {
    margin: 0px 15% 0px 15%;
}

@media screen and (max-width: 600px) {
    div.section{
        margin: 0px 2% 0px 2%;
        border-top: solid 1px;
    }
    div.statement {
        margin: 0;
    }
}