#profile-img {
    border: solid;
    border-style: groove;
    border-width: 10px;
}
#copyright {
    float:left;
    height:50px;
    text-align: center;
}
#personal-details {
    float:right;
    width: 50%;
    align-self: center;
    text-align: center;
    background-color:olive;
    border:solid;
}

.activity {
    font-size: large;
    font-weight: bold;
    margin-bottom: 0rem;
}

.duration {
    font-size: smaller;
    color: gray;
    margin-top: 0.3rem;
}

.description > ul > li {
    color: rgb(75, 75, 75);
    font-weight: 100;
}

.stack {
    font-size: smaller;
    color: gray;
    margin-top: 0.3rem;
}

div.section{
    margin: 0px 20% 0px 20%;
    border-top: solid 1px;
}

div.statement {
    margin: 0px 15% 0px 15%;
}

/* body {
    margin-left: 15%;
    margin-right: 15%;
} */